# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tijsv\OneDrive - Universiteit Antwerpen\UAsem6\Distributed\Practicum\TCP_UDP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
